# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.shape

(33183, 8)

In [5]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
# Your code here:
# for i in salaries['Salary or Hourly']:
#     if salaries['Salary or Hourly'] == 'Salary':
#         print(f'Salaried employees are: )
# salaries[salaries['Salary or Hourly'] == 'Salary'].value_counts()

salaried_emp=salaries[salaries['Salary or Hourly'] == 'Salary'].shape[0]
hourly_emp=salaries[salaries['Salary or Hourly'] == 'Hourly'].shape[0]

print(f'Salaried employees are: {salaried_emp} \nHourly employees are: {hourly_emp}')

Salaried employees are: 25161
Hourly employees are: 8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [7]:
# Your code here:
# salaries.groupby('Department').count()['Name'].sort_values(ascending=False)

In [8]:
# Simpler!
salaries.Department.value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
# Your code here:

# H0 = hourly wage of all hourly workers is $30/hr
# H1 = hourly wage of all hourly workers is NOT $30/hr

In [10]:
# import libraries
from scipy import stats

In [11]:
# Calculate hourly salary
hourly_salary=salaries['Hourly Rate'][salaries['Salary or Hourly'] == 'Hourly']
hourly_salary

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [12]:
'''
Calculate the T-test for the mean of ONE group of scores.

This is a two-sided test for the null hypothesis that the expected value (mean) of a sample of independent observations a 
is equal to the given population mean, popmean.
'''

avg = 30
stat, pvalue=stats.ttest_1samp(hourly_salary, avg)
alpha=0.05
print(pvalue)

4.3230240486229894e-92

In [13]:
# Checking!
def test(p, alpha):
    if p<alpha:
        return f'{round(p,5)} is smaller than {alpha} --> Reject H0'
    else:
        return f'{round(p,3)} is bigger than {alpha} --> Accept H0'

In [14]:
check = test(pvalue, alpha)
print(check)
print('Hourly wage of all hourly workers is NOT $30/hr')

0.0 is smaller than 0.05 --> Reject H0
Hourly wage of all hourly workers is NOT $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [15]:
# Your code here:
# H0 = annual salary for salaried employees is $86000/year
# H1 = annual salary for salaried employees is > $86000/year

In [16]:
police_salary=salaries['Annual Salary'][(salaries['Department'] == 'POLICE') & (salaries['Salary or Hourly'] == 'Salary')]
police_salary

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [17]:
avg = 86000
stat, pvalue=stats.ttest_1samp(police_salary, avg)
pvalue1=pvalue/2
print(pvalue1)

0.0010301701775482569

In [18]:
check=test(pvalue1, alpha)
print(check)
print('Annual salary for salaried employees is > $86000/year')

0.00103 is smaller than 0.05 --> Reject H0
Annual salary for salaried employees is > $86000/year

Using the `crosstab` function, find the department that has the most hourly workers.

In [19]:
# Your code here:
# crosstab with filter!
col = salaries['Salary or Hourly'][salaries['Salary or Hourly']=='Hourly']
# col

ct = pd.crosstab(index=salaries['Department'], columns=col, values=salaries['Name'],aggfunc='count').sort_values(by='Hourly',ascending=False)
ct.head()

Salary or Hourly  Hourly
Department
STREETS & SAN       1862
WATER MGMNT         1513
OEMC                1273
AVIATION            1082
GENERAL SERVICES     765

In [20]:
x = ct.head(1)
workers=ct.iloc[0,0]
# workers
dept=ct['Hourly'].idxmax() 
# dept

print(f'The department with most hourly workers is {dept} with {workers} workers')

The department with most hourly workers is STREETS & SAN with 1862 workers

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [21]:
# Your code here:
# H0 = hourly wage is $35/hour
# H1 = hourly wage is < $35/hour

In [22]:
# One-sided hypotesis
hourly_workers_ss =salaries['Hourly Rate'][(salaries['Department']=='STREETS & SAN') & (salaries['Salary or Hourly']=='Hourly')]
# hourly_workers_ss

avg = 35
stat, pvalue=stats.ttest_1samp(hourly_workers_ss, avg)
pvalue2=pvalue/2
print(pvalue2)

1.6689265282353859e-21

In [23]:
check=test(pvalue2, alpha)
print(check)
print('Hourly wage is < $35/hour')

0.0 is smaller than 0.05 --> Reject H0
Hourly wage is < $35/hour

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [24]:
# Your code here:
hourly_wage = salaries['Hourly Rate'][salaries['Salary or Hourly'] == 'Hourly']
sample_hourly_wage=len(hourly_wage)-1

mean=hourly_wage.mean()
se=stats.sem(hourly_wage) 

confidence = 0.95

In [33]:
stats.t.interval(confidence, sample_hourly_wage, loc=mean, scale=se)

(86177.03756732497, 86795.79143894181)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [30]:
# Your code here:
police_salaried_empl=len(police_salary)-1

mean=police_salary.mean()
se=stats.sem(police_salary) 

confidence = 0.95

In [31]:
stats.t.interval(confidence, police_salaried_empl, loc=mean, scale=se)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here:
# H0 = number of hourly workers = 25% (95% confidence)
# H1 = number of hourly workers != 25% (95% confidence)

In [34]:
# import library
from statsmodels.stats.proportion import proportions_ztest

In [43]:
# count --> the number of successes in nobs trials
hourly_workers = salaries['Name'][salaries['Salary or Hourly'] == 'Hourly'].count()
hourly_workers

# nobs --> the number of trials or observations
tot_hourly_workers = salaries['Name'].count()
tot_hourly_workers

# value --> value of the null hypothesis equal to the proportion in the case of a one sample test
p=0.25

# proportion test
stat, pvalue4 = proportions_ztest(hourly_workers, tot_hourly_workers, p)
print(pvalue4)

0.0004481127249057967

In [44]:
check=test(pvalue4, alpha)
print(check)
print('Number of hourly workers != 25%')

0.00045 is smaller than 0.05 --> Reject H0
Number of hourly workers != 25%